<p>matprac works!</p>
<div>
    <button mat-button >Click me!</button>
    <button mat-raised-button>Click Me(Raised)</button>
    <button mat-flat-button>Click  Me(Flat Button)</button>
</div>

<div>
    <button mat-icon-button>Icon</button>
    <button mat-fab>Fab</button>
    <button mat-mini-fab>Fab Btn</button>
</div>
x
<div>
    <button color="primary" mat-button >Primary me!</button>
    <button color="accent" mat-button >Accent</button>
    <button color="warn" mat-button >Warn</button>
</div>